API_ID=21696829
API_HASH=c0e23cf3dfa118239951a88bd0f4c6b7
BOT_TOKEN=8130109220:AAFA9ErL7KbZVlvV_a4z8C_oFqnFylHEyV4
LOG_GROUP_ID=-1002610492102
API_KEY=30DxNexGenBotsc65acc
MONGO_DB_URI=mongodb+srv://carofo7264:carofo7264@cluster0.s2ptcja.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7569863273
STRING_SESSION=AQFLET0AEXs1NRsdpEbn7TgX6OytnxjcdOS-zB_PHlXGxV_DKoYk34O2C8VNgdPVGLzU32995_ts3XjtQx2lGtDNKgNxZFogf6QnTcMa05_5cXaaKcxdeqcKpIZ4KSK_Y2RDC95iYB9g1sqVk0pFRZUlubtNTUQHBwtQjt41MaBgfgL_PJ3DAwe_muQSl7ZQfkM8jkitjiezvtFtjTTkN5siHvoEccT34xK0sTIx48Lw6YG8vtkJhX6v2iBoljdEqofgeEoroO5RENDc4lRZEY_zGIAncV5PoyYDfPz_NoTCWRJFmnwTQDZVhYYLYQoz_MvX7_xS0yrHh0u7Bxy_pQZ_ZYbbsQAAAAH0wJSXAA


